



<%- include('../partials/adminNavbar.ejs') %>

<div class="image">
    <img src="https://www.geckoboard.com/uploads/Ecommerce-KPI-dashboard.png" alt="image" style="width: 80%; height: 600px; margin-left: 120px; padding-top: 20px;">
</div>

<%- include('../partials/footer.ejs') %>
