
<%-include("../partials/links")  -%>

<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid ">
        <a class="navbar-brand  text-white" href="/admin/dashboard">DASHBOARD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active  text-white" aria-current="page" href="/admin/user">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active  text-white" aria-current="page" href="/admin/category">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active  text-white" aria-current="page" href="/admin/product">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active  text-white" aria-current="page" href="#">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active  text-white" aria-current="page" href="/home">Preview</a>
                </li>
            </ul>
        </div>
        <form action="/admin/logout"  class="d-flex">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</nav>