<%- include('../partials/navbar.ejs') %>

<main>
   
    <div class="confirm-box" style="text-align: start;">
        <h4>Reset Password</h4>
        
        <form action="/resetPassword/55c61fb81007591bf55f9b3d008ec779ef6a56d1" id="passwordForm" method="post">
            <label for="password">Password:</label><br>
            <input class="default-input" type="password" id="password" name="password" required>
              <br>
<p class="text-danger"><%- locals.message ? locals.message : ''  %></p>
            <label for="confirmPassword">Confirm Password:</label><br>
            <input class="default-input" type="password" id="confirmPassword" name="confirmPassword" required>
             <br>

            <input  type="checkbox" id="showPassword">
            <label for="showPassword">Show Password</label>
            <br>

            <div class="submit-btn text-center">
                <input class="default-button" type="submit" value="Submit">
            </div>
        </form>
        
    </div>
    
</main>
<style>
    main{
        margin-top: 150px;
    }
</style>
<%- include('../partials/footer.ejs') %>
